alchemy.red
[{"id":"e60de3b9.19f22","type":"http response","name":"","x":928,"y":118,"z":"91d5adfe.6e2a5","wires":[]},{"id":"381ce57.fc7e31a","type":"switch","name":"","property":"payload.imgurl","rules":[{"t":"null"},{"t":"nnull"}],"checkall":"true","outputs":2,"x":239,"y":123,"z":"91d5adfe.6e2a5","wires":[["c1f76198.3e08a"],["ef7316cb.108ce8"]]},{"id":"ef7316cb.108ce8","type":"function","name":"construyeMsg","func":"msg.headers = {\n    'Content-Type' : 'application/x-www-form-urlencoded'\n}\nmsg.payload= {\n    apikey : 'c8ba56636aff3c307be846e246a08f123dfd47a1',\n    url : msg.payload.imgurl,\n    outputMode : 'json'\n};\n\nreturn msg;","outputs":1,"valid":true,"x":273,"y":202,"z":"91d5adfe.6e2a5","wires":[["9f20272c.60dfd8"]]},{"id":"9f20272c.60dfd8","type":"http request","name":"","method":"POST","ret":"obj","url":"http://access.alchemyapi.com/calls/url/URLGetRankedImageKeywords","x":449,"y":201,"z":"91d5adfe.6e2a5","wires":[["25cca2bb.da335e"]]},{"id":"37836023.c87ca","type":"debug","name":"","active":true,"console":"false","complete":"payload","x":926,"y":202,"z":"91d5adfe.6e2a5","wires":[]},{"id":"d49b037d.2b65","type":"function","name":"setHead","func":"msg.headers = {\n    'Content-Type':'text/html',\n    accept:'text/html,application/xhtml+xml'\n}\n\nreturn msg;","outputs":1,"valid":true,"x":783,"y":202,"z":"91d5adfe.6e2a5","wires":[["c1f76198.3e08a","37836023.c87ca"]]},{"id":"c1f76198.3e08a","type":"template","name":"","field":"payload","format":"handlebars","template":"<link rel=\"stylesheet\" href=\"style.css\">\n<h1>Análisis de Imágenes <img src=\"/images/17a40a099c541771de295e67cb6b9d77.jpg\">\n</h1>\n<form action=\"/img\" method=\"GET\">\n  URL de la imagen: <input type=\"text\" name=\"imgurl\"/>\n  <button type=\"Analizar\">Submit</button>\n</form>\n\n{{#payload.status}}\n    {{payload.status}} {{payload.statusInfo}} \n{{^payload.statusInfo}}\n    <br>\n    <img src=\"{{payload.url}}\"><br>\n    <b>Palabras Clave:</b><br>\n    {{#payload.imageKeywords}}\n        {{score}} {{text}}<br>\n    {{/payload.imageKeywords}}\n    {{#payload.imageFaces}}\n        Edad: {{age.ageRange}} ({{age.score}})\n        Gender: {{gender.gender}} ({{gender.score}}) <br>\n    {{/payload.imageFaces}}\n{{/payload.statusInfo}}\n{{/payload.status}}","x":769,"y":118,"z":"91d5adfe.6e2a5","wires":[["e60de3b9.19f22"]]},{"id":"840b4a72.7bf4b8","type":"http in","name":"","url":"/img","method":"get","x":92,"y":123,"z":"91d5adfe.6e2a5","wires":[["381ce57.fc7e31a"]]},{"id":"25cca2bb.da335e","type":"function","name":"person?","func":"if(msg.payload.imageKeywords.length === 0) {\n    msg.isperson=false;\n} else if(msg.payload.imageKeywords[0].text==='person') {\n    msg.isperson=true;\n    console.log(\"TRUE\");\n} else {\n    msg.isperson=false;\n}\n\nreturn msg;","outputs":1,"valid":true,"x":365,"y":342,"z":"91d5adfe.6e2a5","wires":[["ea6d28f2.1592d8"]]},{"id":"ea6d28f2.1592d8","type":"switch","name":"isPerson","property":"isperson","rules":[{"t":"false"},{"t":"true"}],"checkall":"true","outputs":2,"x":514,"y":342,"z":"91d5adfe.6e2a5","wires":[["d49b037d.2b65"],["b3af3edd.4c50c"]]},{"id":"b3af3edd.4c50c","type":"function","name":"construyeMsg","func":"msg.headers = {\n    'Content-Type' : 'application/x-www-form-urlencoded'\n}\nmsg.payload= {\n    apikey : 'c8ba56636aff3c307be846e246a08f123dfd47a1',\n    url : msg.payload.url,\n    outputMode : 'json'\n};\n\nreturn msg;","outputs":1,"valid":true,"x":680,"y":348,"z":"91d5adfe.6e2a5","wires":[["4fb02fbe.b04fd"]]},{"id":"4fb02fbe.b04fd","type":"http request","name":"","method":"POST","ret":"obj","url":"http://access.alchemyapi.com/calls/url/URLGetRankedImageFaceTags","x":850,"y":348,"z":"91d5adfe.6e2a5","wires":[["d49b037d.2b65"]]}]